header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  height: 400px;
  width: 33.7%;
  color: white;
  background-color: #570a5b;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header h2 {
  margin: 0px;
}

@media (max-width: 768px) {
  header {
    width: 100%;
  }
}