.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 1rem;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.new-tweet h2 {
  margin-bottom: 8px;
}

.new-tweet > form {
  display: flex;
  flex-direction: column;
}

.new-tweet > form > label {
  flex-grow: 1;
  align-self: flex-start;
  font-weight: bold;
  margin-top: 2em;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px solid black;
  /* padding-bottom: 2%; */
  resize: none;
  font-size: medium; 
}

#tweet-text:focus {
  outline: none;
}

.counter {
  font-family: 'Bungee', sans-serif;
  color: #545149;
}

.tweet-btn {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter.exceed {
  color: red;
}

.error-container {
  border: 4px solid #ff0000;
  color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  width: max-content;
}

.error-text {
  margin: 6px;
}


